{% extends "base.html" %}
{% block content %}
<h2>Member List</h2>
<h3>A list of all NZ Olympic Team members</h3>

<table>
    <tr>
        <th>Member ID</th>
        <th>Team Name</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>City</th>
        <th>Birthdate</th>
    </tr>
    {% for member in memberlist %}
    <tr>
        {% for entry in member %}
            {% if loop.index == 3 or loop.index == 4 %}
                <td><a href="/member/{{member[0]}}"> {{ entry }}</a></td>
            {% else %}
                <td>{{ entry }}</td>
            {% endif %}
        {% endfor %}
    </tr>
    {% endfor %}
   

 
</table>

{% endblock %}