<!DOCTYPE html>
<html>
<head>
    <title>Admin</title>
</head>
<body>
    <h1>Welcome to the Admin</h1>
    <li><a href="{{ url_for('admin_search') }}">Search</a></li>
    <li><a href="{{ url_for('add_member') }}">Add Member</a></li>
    <li><a href="{{ url_for('add_event') }}">Add Event</a></li>
    <li><a href="{{ url_for('event_stage') }}">Event Stage</a></li>
    <li><a href="{{ url_for('add_scores') }}">Add Scores</a></li>
    <li><a href="{{ url_for('generate_reports') }}">Report</a></li>
    <!-- Add navigation links or buttons to different admin functionalities -->
</body>
</html>
